* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(214, 208, 208);
}

@font-face {
    font-family: roboto;
    src: url();
}

.container {
    background-color: white;
    height: 100px;
    
}

#header-logo {
    background-color: white;
    padding: 5px 5px;
    vertical-align: middle;
    margin-left: 10px;
}

.header-title {
                display: inline;
                background-color: white;
                vertical-align: middle;
                line-height: 100px;

}

.action-menu {
    background-color: white;
    margin: 18px auto 3px;
    width: 80%;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button1 {
    color: white;
    background-color: rgb(24, 182, 255);
    border-radius: 10px;
    margin: 6px 5px 8px 40px;
    padding: 5px;
    
}

.button2 {
    color: grey;
    background-color: white;
    border-width: 1px;
    border-color: grey;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
    
}

.hr {
    color: rgb(214, 208, 208);
}

.options-menu {
    background-color: white;
    margin: 0px auto;
    width: 80%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.correction {
    background-color: white;
    margin-left: 20px;
}

.list-title {
    background-color: white;
    color: grey;
    margin: 5px 20px;
    list-style: none;
}

.list {
    background-color: white;
    color: grey;
    margin: 5px 20px;
    display: block;
}

.item {
    background-color: white;
    display: inline;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.check {
    color: rgb(52, 190, 86);
    background-color: white;
}

.uncheck {
    color: rgb(196, 43, 43);
    background-color: white;
}

.editorial {
    background-color: white;
    color: white;
    background-color: rgb(89, 175, 255);
    padding: 3px;
    border-radius: 5px;
}

.q1goals {
    background-color: white;
    display: inline;
    color: white;
    background-color: rgb(144, 82, 185);
    padding: 3px;
    border-radius: 5px;
}

.recruiting {
    background-color: white;
    display: inline;
    color: white;
    background-color: rgb(82, 185, 151);
    padding: 3px;
    border-radius: 5px;
}

.mobile {
    background-color: white;
    display: inline;
    color: white;
    background-color: rgb(216, 126, 73);
    padding: 3px;
    border-radius: 5px;
}

.website {
    background-color: white;
    display: inline;
    color: white;
    background-color: rgb(204, 89, 123);
    padding: 3px;
    border-radius: 5px;
}

.sales {
    background-color: white;
    display: inline;
    color: white;
    background-color: rgb(156, 177, 83);
    padding: 3px;
    border-radius: 5px;
}
