* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(214, 208, 208);
}

.container {
    background-color: white;
    height: 100px;
    
}

#header-logo {
    background-color: white;
    padding: 5px 5px;
    vertical-align: middle;
    margin-left: 10px;
}

.header-title {
                display: inline;
                background-color: white;
                vertical-align: middle;
                line-height: 100px;

}

.action-menu {
    background-color: white;
    margin: 18px auto 3px;
    width: 80%;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.button1 {
    color: white;
    background-color: rgb(24, 182, 255);
    border-radius: 10px;
    margin: 6px 5px 8px 40px;
    padding: 5px;
    
}

.button2 {
    color: grey;
    background-color: white;
    border-width: 1px;
    border-color: grey;
    border-radius: 10px;
    margin-left: 5px;
    padding: 5px;
    
}

.hr {
    color: rgb(214, 208, 208);
}

.options-menu {
    background-color: white;
    margin: 0px auto;
    width: 80%;
    height: 300px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}