* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(214, 208, 208);
}

.container {
    background-color: white;
}

#header-logo {
    background-color: white;
    padding: 5px 5px;
}

.header-title {
                display: inline;block-size;
                background-color: white;
                vertical-align: middle;

}